# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import gmaps.datasets
import json
import time

# Import API key
my_api_code_source = open('/Users/Richa/Desktop/google_api_key.py') 
google_api_key = my_api_code_source.read()

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
#locate, read and make df from prior city data
df_part1 = pd.read_csv('../WeatherPy/output_data/cities.csv')
city_df = pd.DataFrame(df_part1)
city_df.head()

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Avarua,-21.21,-159.78,73.40,83,86,3.36,CK,1608565601
1,Yellowknife,62.46,-114.35,-18.00,75,90,8.05,CA,1608565502
2,Kumul,42.80,93.45,18.43,89,97,4.36,CN,1608565601
3,Atuona,-9.80,-139.03,78.01,75,0,14.14,PF,1608565601
4,Al Bardīyah,31.76,25.09,61.23,72,48,11.63,LY,1608565601

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key = google_api_key)

In [4]:
#city_list = []
locations = city_df[['Latitude', 'Longitude']].astype(float)
#for x, y in locations.iterrows():
#    new_row = [y.Latitude, y.Longitude]
#    location_list.append(new_row)

#humidity_list = []
humidity = city_df['Humidity'].astype(float)
#for x, y in humidity.iterrows():
#    new_row = [y.Humidity]
#    humidity_list.append(new_row)

#humidity_list = humidity['Humidity'].tolist()

In [5]:
#plot heat map
fig = gmaps.figure(center = (35.0, 0.0), zoom_level=1.5)
max_humidity = np.max(humidity)
#create heat layer and add to map
fig.add_layer(gmaps.heatmap_layer(locations, weights = humidity, 
                                  max_intensity = 100, dissipating = False, point_radius = 2))

#save and print
plt.savefig("output_data/heatmap.png")

fig

#in heatmap_layer(locations, weights, max_intensity, dissipating, point_radius, opacity, gradient)

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
weather_conditions_df = city_df.loc[(city_df['Wind Speed'] <10) & (city_df['Max Temp'] > 70) &\
                                   (city_df['Max Temp'] < 80) & (city_df['Cloudiness'] < 10 )].dropna()
weather_conditions_df

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
54,Auki,-8.77,160.70,78.15,84,6,3.53,SB,1608565605
173,Isangel,-19.55,169.27,76.17,85,5,9.62,VU,1608565616
281,Kantunilkín,21.09,-87.45,77.00,88,5,8.05,MX,1608565626
314,Bilma,18.69,12.92,76.26,17,6,4.29,NE,1608565629
340,Viedma,-40.81,-63.00,75.99,40,0,7.00,AR,1608565631
381,‘Ewa Beach,21.32,-158.01,75.20,83,1,5.82,US,1608565620
441,Kutum,14.20,24.67,70.47,21,0,7.85,SD,1608565641
445,Daman,20.42,72.85,73.83,55,0,6.64,IN,1608565352
537,Santa Maria,-29.68,-53.81,76.98,34,0,7.70,BR,1608565649

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
#Store into variable named hotel_df.
hotel_df = pd.DataFrame(weather_conditions_df).reset_index()
hotel_df = hotel_df.drop(hotel_df.columns[0], axis=1)

#Add a "Hotel Name" column to the DataFrame
hotel_df['Hotel Name']  = ""
hotel_df

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,Auki,-8.77,160.70,78.15,84,6,3.53,SB,1608565605,
1,Isangel,-19.55,169.27,76.17,85,5,9.62,VU,1608565616,
2,Kantunilkín,21.09,-87.45,77.00,88,5,8.05,MX,1608565626,
3,Bilma,18.69,12.92,76.26,17,6,4.29,NE,1608565629,
4,Viedma,-40.81,-63.00,75.99,40,0,7.00,AR,1608565631,
5,‘Ewa Beach,21.32,-158.01,75.20,83,1,5.82,US,1608565620,
6,Kutum,14.20,24.67,70.47,21,0,7.85,SD,1608565641,
7,Daman,20.42,72.85,73.83,55,0,6.64,IN,1608565352,
8,Santa Maria,-29.68,-53.81,76.98,34,0,7.70,BR,1608565649,

In [21]:
url = f"https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=14.20,24.67&radius=5000&type=hotel&keyword=hotel&key={google_api_key}"
test_data = requests.get(url).json()
test_data

{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}

In [17]:
#Search for hotels with 5000 meters.

#set base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"

#set a list of parameters
params = {
    'radius': 5000,
    'type': 'hotel',
    'keyword': 'hotel',
    'key': google_api_key
}

count = 0 


for index, row in hotel_df.iterrows():
    
    #get city name from list
    city = row['City']
    
    #add above cities lat and long to parameters
    params['location']= f"{row['Latitude']}, {row['Longitude']}"
    
    #make a count
    count += 1
    
    #print 
    print(f"Acquiring data for {city}")
    
    #make request
    hotel_data = requests.get(base_url, params=params).json()

    try:
        #add first hotel result to hotel_df  and list as found
        hotel_df.loc[index, 'Hotel Name'] = hotel_data['results'][0]['name']
        print(f"Hotel found")
        print("------")
        
    except:
        hotel_df.loc[index, 'Hotel Name'] = "No Hotel in range"
        print("Oops someting went wrong")
        print("------")
        
    
    #add time to presvent time out error
    time.sleep(1)
    
#print(json.dumps(response, indent=4, sort_keys=True))


print(f"Searching complete")
#print(f"results found for {count} cities")

#Hit the Google Places API for each city's coordinates.

Acquiring data for Auki
Hotel found
------
Acquiring data for Isangel
Hotel found
------
Acquiring data for Kantunilkín
Hotel found
------
Acquiring data for Bilma
Oops someting went wrong
------
Acquiring data for Viedma
Hotel found
------
Acquiring data for ‘Ewa Beach
Oops someting went wrong
------
Acquiring data for Kutum
Oops someting went wrong
------
Acquiring data for Daman
Hotel found
------
Acquiring data for Santa Maria
Hotel found
------
Searching complete

In [14]:
hotel_df

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,Auki,-8.77,160.70,78.15,84,6,3.53,SB,1608565605,Auki Lodge
1,Isangel,-19.55,169.27,76.17,85,5,9.62,VU,1608565616,Volcano Sea View Tree House
2,Kantunilkín,21.09,-87.45,77.00,88,5,8.05,MX,1608565626,Posada Paraiso
3,Bilma,18.69,12.92,76.26,17,6,4.29,NE,1608565629,Currently not available
4,Viedma,-40.81,-63.00,75.99,40,0,7.00,AR,1608565631,Casa Crespo Hotel Boutique
5,‘Ewa Beach,21.32,-158.01,75.20,83,1,5.82,US,1608565620,Hampton Inn & Suites Oahu/Kapolei
6,Kutum,14.20,24.67,70.47,21,0,7.85,SD,1608565641,Currently not available
7,Daman,20.42,72.85,73.83,55,0,6.64,IN,1608565352,Oliaji's Duke Hotel
8,Santa Maria,-29.68,-53.81,76.98,34,0,7.70,BR,1608565649,Itaimbé Palace Hotel

In [15]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""

# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [16]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))